.cform-main {
    background-color: #fff;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 23px -7px rgba(133,150,131,1);
    -moz-box-shadow: 10px 10px 23px -7px rgba(133,150,131,1);
    box-shadow: 10px 10px 23px -7px rgba(133,150,131,1);
}